/* === GLOBAL STYLES === */
body {
  font-family: 'Scto Grotesk A';
  src: url('fonts/SctoGroteskA-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;

  margin: 0;
  padding: 0;

  background-color:#e3e3e3;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; 
}
/* === HEADER & NAV === */
header {
  padding: 1.5rem;
  position: relative;
}

nav {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

nav a {
  text-decoration: none;
  color: black;
}

nav.tabs-container {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;    /* 1.5rem top/bottom, 2rem left/right */
  padding-left: 2rem;
  padding-right: 2rem;
}

/*Clothing Options --> Everything but Home and Add*/
nav.tabs-container a:not([href="/index.html"]):not([href="/ADD/add.html"]){
  left: 2rem;
  margin-left: 30px;
  font-size: clamp(12px, 1.5vw, 15px);
}

@media (max-width: 900px) {
  nav.tabs-container a:not([href="/index.html"]) {
    display: none;
  }
}

nav.tabs-container a:not([href="/index.html"]):not([href="/ADD/add.html"]):hover {
  transform: scale(1.1);
}

/* + add button */
nav.tabs-container a[href="/ADD/add.html"] {
  right: 2rem;
  position: absolute;                
  transform: translateX(-50%); 
  
  font-weight: bold;
   font-size: clamp(18px, 3vw, 25px);      
  transition: transform 0.2s ease;
  
  padding: 0.5rem 1rem;

  border-bottom: 2px solid currentColor;
}
nav.tabs-container a[href="/ADD/add.html"]:hover {
  transform: translateX(-50%) scale(1.1);
  cursor: pointer;
}


/*LOGIN button */


/* Home / Logo button */
nav.tabs-container a[href="/index.html"] {
  position: absolute;   
  left: 50%;             
  transform: translateX(-50%); 
  
  font-weight: bold;
  font-size: clamp(20px, 4vw, 30px);      
  transition: transform 0.2s ease;
  
  padding: 0.5rem 1rem;
}
nav.tabs-container a[href="/index.html"]:hover {
  transform: translateX(-50%) scale(1.1);
  cursor: pointer;
}


/* ADD Form  */
form {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color:#e3e3e3;
}

.form-group {
  margin: 1rem 0;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}
input, select {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.6rem;      
  border: 1px solid #000; 
  background-color: #e3e3e3;
} 


button {
  margin: 1rem 0;
  padding: 0.6rem 1.2rem;
  color: black;
  font-size: 30px;
  border: none;
  background-color:#e3e3e3;
  left: 50%;

  position: absolute;                
  transform: translateX(-50%); 
  font-size: clamp(18px, 3vw, 25px);      
  transition: transform 0.2s ease;
}

button:hover {
  transform: translateX(-50%) scale(1.5);
  cursor: pointer;
}
