/* reset & base */
* { margin:0; padding:0; box-sizing:border-box; }
body {  
  font-family: 'Scto Grotesk A';
  src: url('fonts/SctoGroteskA-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;

  position: relative;
  width: 100%;
  height: 100vh;
  background: url('HomeBack.jpg') no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
 }


.logo {
  text-align: center;
}

.logo img {
  /* change these numbers to whatever fits your design */
  width: clamp(650px, 25vw, 900px);
  height: auto;
  display: block;
}


/* Tabs */ 

nav.tabs-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;

  font-family: 'Scto Grotesk A';
  src: url('fonts/SctoGroteskA-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;

  position: absolute;
  text-align: center;
  bottom: 40%;


}


nav.tabs-container a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  border-color: white;

}

nav.tabs-container a:hover {
  transform: scale(1.1);
}

/* ------------- LINKS -------------------- */

 /*        "/" == "/index.html" == Home                       */
 /*       "/add/add" == "/ADD/add.html" == Add Page           */

 /* -----------------------------------------*/
 
nav.addbtn a[href="/add/add"] {
  text-decoration: none;
  color: white;
  font-size: 16px;
  border-color: white;

  right: 2rem;
  top: 2rem;
  position: absolute;                
  transform: translateX(-50%); 
  
  font-weight: bold;
  font-size: clamp(18px, 3vw, 25px);      
  transition: transform 0.2s ease;
  
  padding: 0.5rem 1rem;
}
nav.addbtn a[href="/add/add"]:hover {
  transform: translateX(-50%) scale(1.1);
  cursor: pointer;
}